<!doctype html><html><head>
  <title>ICRA paret verda</title>
  <meta charset="utf8">

  <!--lib vue-->
  <script src="../lib/vue.global.prod.js"></script>

  <style>
    body{
      font-family: Eczar, IM Fell English, Georgia, serif;
    }
    [blank]{
      color:#ccc;
    }
    [right]{
      text-align:right;
    }
    [center]{
      text-align:center;
    }
    [xsmall]{
      font-size:x-small;
    }
    [present="1"]{
      background:gold;
      color:black;
    }
    [present="0"]{
      background:white;
      color:#aaa;
    }
  </style>
</head><body>

<nav>
  <a href="index.html">PLC</a> |
  <b href="historic.html">Històric</b>
</nav>

<h1>Paret verda PLC</h1>

<div id=app>
  <div v-if="error">
    <a href="https://undarius.icra.local:50001/server.cert" target=_blank>certificat undarius</a>
  </div>
  <p v-if="error">{{error}}</p>
  <p v-if="!error && !historic">Carregant històric...</p>

  <button
    :disabled="!historic"
    @click="download_csv()"
  >Descarregar CSV
  </button>

  <div v-if="historic">
    <table border=1 xsmall>
      <thead>
        <tr>
          <th rowspan=2>Data (UTC)</th>
          <th colspan=21>Adreça</th>
        </tr>
        <tr>
          <th v-for="addr in 21">{{addr-1}}</th>
        </tr>
      </thead>
      <tr v-for="lec in historic">
        <td>{{lec.data}}</td>
        <td v-for="val in lec.lectura">{{val}}</td>
      </tr>
    </table>
  </div>
</div>

<script>
  let app = Vue.createApp({
    data(){return{
      error:null,
      historic:null,
    }},
    methods:{
      download_csv(){
        download_csv();
      },
    },
  }).mount("#app");
</script>

<script>
  //consulta client -> cluster -> sql server (icranet)
  async function fetch_historic_db(){
    try{
      let url="https://undarius.icra.local:50001/db";
      console.log("consultant",url,"...");

      let options={headers:{"Accept":"application/json"}};
      let response = await fetch(url,options);
      if(!response.ok) throw("error fetching db");

      let data = await response.json();


      data.forEach(row=>{
        row.lectura = row.lectura.split(",");
      });
      data.reverse();
      app.historic = data;
    }catch(err){
      console.error('Error fetching db:', err);
      app.error = err;
    }
  }
  fetch_historic_db();
</script>

<script>
  function download_csv(){
    if(!app.historic) return;

    let csv_rows=[];

    let first_row=[
      "date",
      "cabal1 (L)",
      "cabal2 (L)",
      "cabal3 (L)",
      "cabal4 (L)",
      "cabal5 (L)",
      "cabal6 (L)",
      "cabal7 (L)",
      "cabal8 (L)",
      "cabalgen (L/h)",
      "pressio (bar)",
      "temperatura (ºC)",
      "humitat (%)",
      "vent (m/s)",
      "nivell1 (%)",
      "nivell2 (%)",
      "pluja (si/no)",
      "llum (lux)",
      "hz (hz)",
      "defectes (16bits)",
      "minuts espera (min)",
      "segons marxa (seg)",
    ].join(";");
    csv_rows.push(first_row);

    app.historic.forEach(row=>{
      let new_row=[row.data];
      for(let i=0;i<row.lectura.length;i++){
        let val = row.lectura[i];
        new_row.push(val);
      }
      csv_rows.push(new_row.join(";"));
    });

    let csv_string = csv_rows.join("\n");
    //generate <a> link and click it
    let blob   = new Blob([csv_string],{type:'text/plain'});
    let a      = document.createElement('a');
    a.href     = URL.createObjectURL(blob);
    a.target   = '_blank';
    a.download = "download.csv";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
  }
</script>
